.bg_block{
    background: url('/images/blog_bg.jpg') center center / cover no-repeat;
    background-attachment: fixed;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}